/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
.mdl-layout-title { text-shadow: 1px 1px 2px black; }

.release-dashboard {
  padding: 15px;
  color: #fff;

  .section-title { text-shadow: 1px 1px 2px black; }
}

.release-status {
  background-color: #fff !important;
  font-weight: bold;

  &.rejected,
  &.cancelled { color: #F44235; }

  &.released { color: #4CAF50 }

  &.inprogress { color: #FFEB3B }
}
